.userTable {
    width: 100%;
    max-width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px;
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
}

.addButton {
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 12px 24px;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #6a1b9a;
}

.userTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.userTable table thead th {
    background-color: #3f51b5;
    color: white;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.userTable table tbody td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.actionButtons {
    text-align: center;
}

.actionButtons button,
.actionButtons a {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.actionButtons button {
    background: #f44336;
}

.actionButtons button:hover {
    background: #d32f2f;
}

.actionButtons a {
    background: #4caf50;
    text-decoration: none;
}

.actionButtons a:hover {
    background: #388e3c;
}

/* Mobile view */
@media (max-width: 768px) {
    .userTable table, .userTable thead, .userTable tbody, .userTable th, .userTable td, .userTable tr {
        display: block;
    }

    .userTable thead tr {
        display: none;
    }

    .userTable tbody tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
    }

    .userTable td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .userTable td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 20px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}
